*{
    margin: 0;
}
html, body {
    font-family: Tahoma, sans-serif;
    color: #202020;
    font-size: 16px;
    background-color:blue

}
p {
line-height: 150%;
margin-bottom: 20px;
}
a {
    color: #202020;
}
figcaption {
    text-align: center;
    font-size: 13px;
}
.container {
    max-width: 1400px;
    width: 90%;
    margin: ;
}
.site-header {
    text-align: center;
    /* padding: 30px; */
}
.site-header h1{
    border-bottom:1px solid brown;
    padding: 30px;
}
.main{
    
    padding: 30px;

}
.main::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.sidebar {
    width: 18%;
    float: left;
    margin-right: 2%;
   
}
article {
    width: 48%;
    float:  left;
   margin-right: 2%;
   
}
aside  {
    width: 30%;
    float: left;
}
nav ul {
    margin: 20px 0;
    padding-left: 20px;
}
nav li{
    margin-bottom: 10px;
}
nav a:hover{
    color: royalblue;
    padding-left: 10px;
}
nav li a {
    text-decoration: none;
}
aside img{
    width: 80%;
    display: block;
    margin: 10px auto;
}
